@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: #C8C8C8;
}

.text-parisienne {
  font-family: 'Parisienne', cursive;
}

.text-roboto {
  font-family: 'Roboto Condensed', sans-serif;
}
