@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-cream: #FFFDE7;
  --color-steel: #C8C8C8;
  --color-navy: #1C2544;
  --color-navy-disabled: #5167B8;
  --color-gold: #F5A82C;
  --color-cabernet: #651528;
}

html {
  background-color: var(--color-steel);
}

#app {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100vh;
  width: 100vw;
}

.box-shadow {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  border-radius: 10px;
}

.text-parisienne {
  font-family: 'Parisienne', cursive;
}

.text-roboto {
  font-family: 'Roboto Condensed', sans-serif;
}

.overflow {
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.overflow::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.generic-button {
  background-color: var(--color-navy);
  color: var(--color-gold);
  padding: 0 1.15rem;
}

.generic-button:hover:not(:disabled) {
  border: 1px solid var(--color-gold);
}

.generic-button:disabled {
  background-color: var(--color-steel);
  color: var(--color-navy);
  cursor: not-allowed;
}

input[type='checkbox'] {
  height: 1.2rem;
  width: 1.2rem;
}
